
<ion-content padding class="background">
  <div class="center">
    <h1>TAP TAP</h1>
    <p>
      THE ULTIMATE BATTLE OF WITS AND SPEED.
    </p>
    <div *ngIf="pager==1" style="padding-top:50px;" class="center-elements">
      <ion-input [value]="username" [(ngModel)]="username" placeholder="Enter your name" color="light"></ion-input>
      <button ion-button block margin-top color="fb-color" aria-placeholder="" (click)="goStep2()">START</button>
    </div>
    <div *ngIf="pager==2" style="padding-top:50px;" class="center-elements">
      <p>Hi {{username}}</p>
      <button ion-button block margin-top color="fb-color" aria-placeholder="" (click)="chooseRoom()">Join a room</button>      
      <button ion-button block margin-top color="fb-color" aria-placeholder="" (click)="goToRoom()">Create a room</button>
    </div>
  </div>
</ion-content>
